h1 {
    text-align: center;
}

canvas {
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.buttons_display {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

button {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 8rem;
}

.big_button {
    font-size: 2rem;
}

.small_button {
    font-size: 1rem;
}

.output_preview {
    width: 500px;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

